#box{
   background-color: #4409e6;
   color:aliceblue
 }
/* .myclass{
   color: rgb(35, 207, 12);
}
.myclass{
   text-align: center;
} */
 h1,h2,h3{
   color:blueviolet;
 }
  h1,h2,h3{
    text-align: center;
  }
  button{
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover{
    background-color: darkorange;
  }
  h1{
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-decoration:line-through;
    margin-bottom: 20px;

  }
